* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

#nav-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-1 h3 {
    font-size: 17px;
    font-weight: 500;
    border: 1.5px solid #000;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}

#nav-1 i {
    font-size: 17px;
    font-weight: 500;
    border: 1.5px solid #000;
    padding: 6px 8px;
    border-radius: 50px;
    cursor: pointer;
}

#nav-2 h1 {
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

#nav-3 button {
    padding: 7px 12px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#btn1 {
    background-color: #fff;
}

#btn2 {
    border: none;
    color: white;
    background-color: orangered;
}

#main>h1 {
    font-size: 110px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 500;
    animation: fade 1.5s ease-out forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


img {
    height: 300px;
    width: 230px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.4s ease;
}

#img1 {
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2 {
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img3 {
    transform: translate(-50%, -50%) rotate(-10deg);
}

img:hover {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.05);
    z-index: 10;
}

#btm-left {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
    font-weight: 500;
}

#join-us {
    position: absolute;
    bottom: 5%;
    right: 3%;
}

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 5px;
    cursor: pointer;
}

#join-us h5 {
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 600px) {

    #nav {
        height: 70px;
        padding: 0 20px;
    }

    #nav-2 h1 {
        font-size: 16px;
    }

    #nav-1 h3,
    #nav-1 i {
        font-size: 12px;
        padding: 4px 7px;
    }

    #nav-3 button {
        padding: 5px 10px;
        font-size: 12px;
    }

    #main>h1 {
        font-size: 50px;
    }

    img {
        height: 220px;
        width: 170px;
    }

    #btm-left,
    #join-us h5 {
        font-size: 15px;
    }

    #icons {
        font-size: 18px;
    }
}